* {
  margin : 0 ;
  padding : 0;
  box-sizing: border-box;
}

html , body {
  height: 100vh;
  background-color: rgb(63, 0, 0);
}

#main-header {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.link_header {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-right: 30px;
}

.footer {
  text-align: center;
  margin-top: 900px;
  font-size: 50px;
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 20px;
}