* {
  margin : 0 ;
  padding : 0;
  box-sizing: border-box;
}

html , body {
  height: 100vh;
  background-color: rgb(63, 0, 0);
}

.main-header {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 8px rgba(0,0,0,0.3);
}

.nav {
  background-color: rgb(70, 70, 70);
  box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
}

.nav-items {
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: end;
  padding-bottom: 10px;
  
}

.link_header {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-right: 30px;
}

.footer {
  font-size: 50px;
  color: white;
  padding: 20px;
  background-color: rgb(70, 70, 70);
  text-align: center;
  margin-top: 30px;
  box-shadow: 10px 10px 10px 20px rgba(0,0,0,0.3);
}

.titulo_footer {
  color: white;
  font-size: 30px;
  font-family: 'Mohave', sans-serif;
}

.texto_footer {
  color: white;
  font-size: 15px;
  font-family: 'Mohave', sans-serif;
}

.cartWidget {
  width: 60px;
  height: 60px;
}

.contador {
 color: white;
 font-size: 17px;
 padding-top: 5px;
}

.botonContador {
  width: 150px;
  height: 25px;
  background-color: rgb(139, 0, 0);
  border-color: black;
  padding-bottom: 25px;
  margin-top: 30px;
}

.props-div {
  color: antiquewhite;
  font-size: 20px;
  text-align: end;
  padding-right: 100px;
  padding-top: 15px;
}

.prop1 {
  margin-bottom: 0;
}

.prop2 {
  padding-top: 0;
}

.nomostar {
  display: none;
}

.loading {
  color: white;
  font-size: 40px;
  padding: 40px;
}

.divItem {
  color: white;
  text-align: center;
  border: double;
  border-color: rgb(139, 139, 139);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.h1Item {
  padding-bottom: 5px;
}

.imgProductos {
  width: 300px;
  height: auto;
}

.h1Nav {
  font-family: 'Mohave', sans-serif;
}

.carrito {
  width: 25px;
  height: 25px;
}