* {
  margin : 0 ;
  padding : 0;
  box-sizing: border-box;
}

html , body {
  height: 100vh;
  background-color: rgb(63, 0, 0);
}

#main-header {
  padding: 20px;
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.link_header {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-right: 30px;
}

.footer {
  font-size: 50px;
  color: white;
  padding: 20px;
}

.titulo_footer {
  color: white;
  font-size: 30px;
}

.cartWidget {
  width: 60px;
  height: 60px;
}

.contador {
 color: white;
 width: 1000px;
}

.botonContador {
  width: 200px;
  height: 25px;
  background-color: aqua;
  margin-top: 10px;
}

.botonContador0 {
  width: 100px;
  height: 25px;
  background-color: rgb(6, 153, 153);
  margin-top: 10px;
}

.props-div {
  color: antiquewhite;
  font-size: 20px;
  text-align: end;
  padding-right: 100px;
  padding-top: 15px;
}

.nomostar {
  display: none;
}